### Maven ###
/target/

### STS / Eclipse ###
.classpath
.project
.settings/
.factorypath

### IntelliJ ###
.idea/
*.iml

### Environment variables ###
.env

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Backup files ###
*.save